@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  background-size: 200vh 200vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

h1 {
  font-size: 400%;
  color: khaki;
  font-style: italic;
  font-family: 'Racing Sans One', cursive; }

h2 {
  font-family: 'Racing Sans One', cursive; }

/* HEADER */
header {
  max-height: 500px;
  background-color: black; }

.BarraDeNav {
  height: 100px;
  display: flex; }
  .BarraDeNav ul {
    justify-content: center;
    height: 100px;
    width: 100%;
    list-style: none;
    font-size: 0;
    text-decoration: none;
    text-align: center; }
    .BarraDeNav ul li {
      display: inline-block;
      margin: 20px; }
      .BarraDeNav ul li a {
        padding: 7px 14px;
        text-decoration: none;
        font-size: xx-large;
        color: khaki; }

.Logo img {
  margin: 7px 5px;
  width: 100%; }

.BarraDeNav ul ul {
  position: absolute;
  display: none; }

.BarraDeNav ul ul li {
  display: block; }

.BarraDeNav ul li ul li a {
  color: black;
  font-size: 200%; }

.BarraDeNav ul li:hover > ul {
  display: block;
  background-color: black;
  width: 150px; }

table thead {
  height: 500px;
  color: black; }

/* /HEADER */
@media only screen and (min-width: 1200px) {
  header {
    max-height: 500px;
    background-color: black; }
  .BarraDeNav {
    height: 100px;
    display: flex; }
  .Logo img {
    margin: 15px 8px;
    width: 100%; }
  .BarraDeNav ul {
    justify-content: center;
    height: 100px;
    width: 400%;
    margin-top: 25px;
    list-style: none;
    text-decoration: none;
    text-align: center; }
  .BarraDeNav ul li {
    display: inline-block;
    margin: 10px; }
  .BarraDeNav ul li a {
    padding: 7px 14px;
    text-decoration: none;
    font-size: 30px;
    color: #e7dd87; }
  .Inicio {
    display: grid;
    height: 850px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 10% 25% 25%;
    background-image: linear-gradient(to bottom, black, #00082b);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-template-areas: "portada portada portada portada" ". titulo titulo ." ". video video ." ". video video ."; }
  .inicio__carrusel1 {
    grid-area: portada; }
  .inicio__carrusel1 img {
    width: 100%; }
  .inicio__Video {
    grid-area: video;
    width: 100%;
    height: 100%; }
  .inicio__Video video {
    width: 100%;
    height: 100%; } }

@media only screen and (max-width: 780px) {
  header {
    max-height: 500px;
    background-color: black; }
  .BarraDeNav {
    height: 100px;
    display: flex; }
  .Logo img {
    margin: 15px 8px;
    width: 100%; }
  .BarraDeNav ul {
    justify-content: center;
    height: 100px;
    width: 400%;
    margin-top: 25px;
    list-style: none;
    text-decoration: none;
    text-align: center; }
  .BarraDeNav ul li {
    display: inline-block;
    margin: 10px; }
  .BarraDeNav ul li a {
    padding: 7px 14px;
    text-decoration: none;
    font-size: 15px;
    color: khaki; }
  .Inicio {
    display: grid;
    height: 850px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 10% 25% 25%;
    background-image: linear-gradient(to bottom, black, #00082b);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-template-areas: "portada portada portada portada" ". titulo titulo ." ". video video ." ". video video ."; }
  .inicio__carrusel1 {
    grid-area: portada; }
  .inicio__carrusel1 img {
    width: 100%; }
  .inicio__Video {
    grid-area: video;
    width: 100%;
    height: 100%; }
  .inicio__Video video {
    width: 100%;
    height: 100%; } }

@media only screen and (max-width: 320px) {
  header {
    max-height: 500px;
    background-color: black; }
  .BarraDeNav {
    height: 100px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 70% 30%;
    grid-template-areas: ". . ." "secciones secciones secciones"; }
  .Logo {
    display: flex;
    grid-column: 2/3;
    justify-content: center; }
  .Logo img {
    margin: 10px 0px;
    width: 50%; }
  .BarraDeNav ul {
    display: flex;
    grid-area: secciones;
    height: 30px;
    width: 100%;
    list-style: none;
    text-decoration: none;
    margin: 0px 0px;
    justify-content: center;
    padding: 0px 0px 0px 0px; }
  .BarraDeNav ul li {
    display: inline-block;
    margin: 0px 0px;
    padding: 0px 0px 0px 0px; }
  .BarraDeNav ul li a {
    text-decoration: none;
    font-size: 10px;
    color: khaki;
    padding: 5px 5px; }
  .Inicio {
    display: grid;
    height: 850px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 10% 25% 25%;
    background-image: linear-gradient(to bottom, black, #00082b);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-template-areas: "portada portada portada portada" ". titulo titulo ." ". video video ." ". video video ."; }
  .inicio__carrusel1 {
    grid-area: portada; }
  .inicio__carrusel1 img {
    width: 100%; }
  .inicio__Video {
    grid-area: video;
    width: 100%;
    height: 100%; }
  .inicio__Video video {
    width: 100%;
    height: 100%; } }

.conteiner {
  background-color: black;
  height: 300px;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr; }

.Derechos {
  text-align: center;
  color: #e7dd87;
  font-size: 20px;
  margin-top: 120px; }

.Mapa {
  display: flex;
  justify-content: center; }
  .Mapa iframe {
    margin-top: 25px; }

.ContactoFoot {
  text-align: center;
  color: #e7dd87;
  font-size: 20px;
  margin-top: 120px; }

.Inicio {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40% 10% 25% 25%;
  background-image: linear-gradient(to bottom, black, #00082b);
  background-size: 100vh 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-template-areas: "portada portada portada portada" ". titulo titulo ." ". video video ." ". video video ."; }

.inicio__carrusel1 {
  grid-area: portada; }
  .inicio__carrusel1 img {
    width: 100%; }

.inicio__Video {
  grid-area: video;
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center; }

main {
  background-image: linear-gradient(to bottom, #00051d, black);
  background-size: 200vh 200vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.TituloInnovacion {
  text-align: center; }
  .TituloInnovacion h2 {
    padding-top: 50px;
    color: #e7dd87;
    font-size: 60px; }

.Innovacion1 {
  margin-top: 5rem;
  display: flex;
  justify-content: center; }
  .Innovacion1 .Innovacion1__CajaPlasmidos {
    height: 800px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: center; }
    .Innovacion1 .Innovacion1__CajaPlasmidos input {
      margin: 30px;
      max-height: 150px; }

.ContenedorPantalla {
  display: flex;
  justify-content: center;
  padding-left: 10%; }
  .ContenedorPantalla .ContenedorPantalla__Pantalla {
    width: 100%;
    height: 75%; }
  .ContenedorPantalla .TextosPlasmidos {
    position: absolute;
    margin-top: 6.7%;
    overflow: hidden; }

.titulosección {
  text-align: center; }
  .titulosección .titulosección__elfuturo {
    padding-top: 50px;
    color: #e7dd87;
    font-size: 60px; }

.ParrafoSeccion {
  text-align: center;
  color: #e7dd87;
  font-size: 30px; }

.carrusel {
  display: flex;
  width: 1500px;
  align-content: center;
  justify-content: center;
  margin-left: 200px; }
  .carrusel .carousel-item {
    height: 900px;
    width: 1200px; }
    .carrusel .carousel-item img {
      height: 100%;
      width: 100%; }

.cultura {
  display: grid;
  grid-template-columns: 6fr 4fr 6fr;
  grid-template-rows: 80vh 105vh;
  background-image: linear-gradient(to bottom, #00051d, black);
  background-size: 200vh 200vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.ShowsTitulo {
  text-align: center;
  color: #e7dd87;
  font-size: 60px;
  padding-top: 30px; }

.shows {
  grid-column: 1/4;
  margin-top: 5rem;
  grid-gap: 3rem;
  display: flex;
  justify-content: center;
  height: 500px; }
  .shows input {
    height: 500px;
    width: 335px;
    padding: 0px; }

.musica {
  margin-top: 1rem;
  justify-items: center;
  text-align: center; }
  .musica img {
    width: 485px;
    height: 500px;
    transition: all 1s; }
  .musica h2 {
    color: #e7dd87;
    font-size: 60px;
    margin-bottom: 30px; }

.musica img:hover {
  width: 535px;
  height: 530px; }

main {
  background-image: linear-gradient(to bottom, #00051d, black);
  background-size: 200vh 200vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.CiudadanosIlustres {
  text-align: center;
  color: #e7dd87;
  font-size: 60px;
  padding-top: 30px; }

.Best {
  display: flex;
  justify-content: center; }

.Postularse {
  display: grid;
  height: 2000px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10% 40% 20%;
  grid-template-areas: ". titulo titulo ." ". form form ." ". cierre cierre ."; }

.TituloPostularse {
  grid-area: titulo;
  display: flex;
  text-align: center;
  justify-content: center; }
  .TituloPostularse h2 {
    padding-top: 50px;
    color: #e7dd87;
    font-size: 60px; }

.Formulario {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  grid-area: form;
  font-size: 100%;
  color: cornsilk;
  justify-items: center; }

.LogoCierre {
  grid-area: cierre;
  display: flex;
  justify-content: center; }
  .LogoCierre .LogoCierre__end {
    max-width: 300px;
    max-height: 300px; }
