* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

main{
    
    background-size: 200vh 200vh;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    

}


h1 {
    font-size: 400%;
    color: khaki;
    font-style: italic;
    font-family: 'Racing Sans One', cursive;

}

h2{
    font-family: 'Racing Sans One', cursive;
  

}