.conteiner {
    background-color: black;
    height: 300px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr

}

.Derechos{
    text-align: center;
    color: rgb(231, 221, 135);
    font-size: 20px;
    margin-top: 120px
}

.Mapa{
    display: flex;
    justify-content: center;
    iframe{
        margin-top: 25px;
    }
    
}

.ContactoFoot{
    text-align: center;
    color: rgb(231, 221, 135);
    font-size: 20px;
    margin-top: 120px

}