main{
    background-image:linear-gradient(to bottom, #00051d, black,);
    background-size: 200vh 200vh;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;

}

.CiudadanosIlustres{
    text-align: center;
    color: rgb(231, 221, 135);
    font-size: 60px;
    padding-top: 30px;

}

.Best{
    display: flex;
    justify-content: center;
}
