.cultura{
    display: grid;
    grid-template-columns: 6fr 4fr 6fr;
    grid-template-rows: 105vh 105vh;
    background-image: url(/multimedia/w0580_1s_Gold-diamond-chevron-motif-art-deco-wallpaper-Ellington-Suite_Repeating-Pattern-Sample-1.jpg);
    background-size: 200vh 200vh;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;   
}


.shows{
    grid-column: 1/4;
    margin-top: 10rem ;
    grid-gap: 3rem ;
    display: flex;
    justify-content: center;
    input{
        height: 600px;
    }
    
}


.musica{
    margin-top: 3rem;
    justify-items: center;
    text-align: center;
    img{
        width: 485px;
        height: 500px;
        transition: all 1s;
    }
    
}


.musica img:hover {
    width: 535px;
    height: 530px;
}