.Postularse{
    display: grid;
    height: 2000px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 40% 20%;
    grid-template-areas: 
    ". titulo titulo ."
    ". form form ."
    ". cierre cierre ."
    ;
}

.TituloPostularse{
    grid-area: titulo;
    display: flex;
    text-align: center;
    justify-content: center;
    h2{
        padding-top: 50px;
        color: rgb(231, 221, 135);
        font-size: 60px;
    }   
}

.Formulario{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    grid-area: form;
    font-size: 100%;
    color: cornsilk;
    justify-items: center;

}
.LogoCierre{
    grid-area: cierre;
    display: flex;
    justify-content: center;

    .LogoCierre__end{
        max-width: 300px;
        max-height: 300px;
    }
}

